* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    /* font-family: Geneva, Verdana, sans-serif; */
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 73px;
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%; /* Full height for the root elements */
    margin: 0; /* Reset default margin */
    display: flex;
    flex-direction: column;
}


a {
    color: #005eb8;
    text-decoration: none;
}

a:hover {
    color: #00376b;
}
.top-color-bar {
    height: 3px; /* Height of the color bar */
    background: linear-gradient(to right, #C8252C, #08233D, #C8252C); /* Gradient colors */
    width: 100%; /* Full width */
    position: fixed; /* Fixed at the top */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    z-index: 1001; /* Above the site-header */
}


/* Header Styles */
.site-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed; /* Fix the header at the top of the page */
    top: 2px; /* Align the header to the top */
    left: 0; /* Align the header to the left */
    width: 100%; /* Ensure the header stretches across the full width of the page */
    z-index: 1000; /* Ensure the header stays above other content */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation input[type="text"] {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-link {
    /* Other styles... */
    padding-left: 20px; /* Adds space to the left of the SHOP text */
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.utility-links-row {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.store-cart-login-row {
    display: flex;
    align-items: center;
}

.utility-link {
    margin-right: 10px;
    color: #333;
    font-size: 14px;
}

.store-selector,
.saved-products,
.cart,
.login-register {
    margin-right: 10px;
    color: #333;
    font-size: 14px;
}

.social-icons {
    display: flex;
    margin-left: 10px;
}

.social-icons a {
    margin: 0 5px;
    color: #333;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .header-top,
    .header-bottom {
        flex-direction: column;
        align-items: center;
    }

    .utility-links-row,
    .store-cart-login-row {
        justify-content: center;
    }

    .navigation,
    .utility-links-row,
    .store-cart-login-row {
        flex-wrap: wrap;
    }

    .navigation input[type="text"] {
        margin-top: 10px;
    }
}

/* Confession Box Styles */
.confession-background {
    background-image: url('pan-image.jpg'); /* Update with the correct path */
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0; /* Adjust the padding to create some space above and below the form */
}

.confession-form-container {
    background: #fff; /* or any other light color as per your design */
    border-radius: 8px;
    padding: 40px; /* Adjust padding as needed */
    max-width: 500px; /* Adjust width as needed */
    width: 100%; /* Ensures the form container doesn't exceed the max-width */
    margin: 0 auto; /* Centers the form in the page */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.confession-form-container h2 {
    color: #333; /* Adjust title color as needed */
    font-size: 24px; /* Adjust font-size as needed */
    margin-bottom: 20px;
}

.confession-form-container .confession-input-group {
    margin-bottom: 20px;
}

.confession-form-container input[type="text"],
.confession-form-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc; /* Adjust border color as needed */
    resize: none;
}

.confession-form-container .confession-send-button {
    background-color: #005336; /* Red color for the button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; /* Adjust font-size as needed */
    display: block; /* Make the button a block element to fit the width */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: if you want a shadow for the button */
}

.confession-form-container .confession-send-button:hover {
    background-color: #C8252C; /* Slightly darker red color on hover */
}

/* Handle focus styles for inputs */
.confession-form-container input[type="text"]:focus,
.confession-form-container textarea:focus {
    outline: none;
    border-color: #005eb8; /* Highlight color when an input is focused */
}


/* FAQ Styles */
/* FAQ Header Styles */
.faq-header {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.faq-header h2 {
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
    position: relative;
    margin-bottom: 20px; /* Space between the title and the underline */
    background-color: #005336; /* Green background color */
    padding: 10px 20px; /* Add padding to reveal the background */
    color: #ffffff; /* Optional: change text color if needed */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: if you want rounded corners */
}

.faq-header h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background: #000; /* Color of the underline */
    position: absolute;
    left: 50%; /* Center the line */
    bottom: -10px; /* Adjust the position as needed */
    transform: translateX(-50%); /* Center the line */
}

.faq-section {
    max-width: 800px; /* Adjust as needed */
    margin: auto;
    margin-bottom: 50px; /* Increased bottom margin */
}

.faq-item {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 10px; /* Spacing between items */
    overflow: hidden; /* Ensures the border radius clips the content */
}

.faq-question {
    background: none;
    border: none;
    text-align: left;
    padding: 20px; /* Adjust as needed */
    width: 100%;
    font-size: 18px; /* Adjust as needed */
    font-weight: bold;
    cursor: pointer;
    position: relative;
    outline: none;
}

.faq-question::after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
}

.faq-question.active::after {
    content: '-';
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #fff; /* White background for the answer */
    padding: 0 20px; /* Vertical padding removed */
}

/* Reduced vertical padding for the paragraph inside the answer */
.faq-answer p {
    color: #677284;
    margin: 0;
    padding: 10px 0; /* Reduced padding */
}

/* Blog Section */
.blog-header {
    background-image: url('bg-image.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 200px; /* Adjust the padding to push the content down */
    padding-bottom: 200px; /* Space below the h1 text */
    text-align: center;
    position: relative;  /* Add padding above and below the h1 for visual space */
    color: #08233D; /* Change the text color if needed to contrast with the background image */
}

.blog-header h1 {
    position: absolute; /* Position absolutely */
    bottom: 0; /* Stick to the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    padding: 10px 20px;
    margin-top: 20px; /* This pushes h1 down from the top of the blog-header */
    margin-bottom: 20px;
    border-radius: 5px; /* Optional: Adds a subtle shadow for depth */
}

.blog-article-heading {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #005336; /* Or any green color you prefer */
    color: white; /* Text color */
    padding: 10px;
    margin: 10px 0; /* Adjust as needed */
    cursor: pointer; /* Indicates that you can click the heading */
    user-select: none; /* Prevents text selection */
}

.blog-article-content {
    display: none; /* Hide content initially */
    padding: 10px;
    border: 1px solid #ccc; /* Optional */
    margin: 10px 0; /* Spacing for the content */
}


.blog-content {
    font-family: 'Roboto', sans-serif;
    display: flex; /* Use flexbox to lay out children side by side */
    justify-content: space-between; /* Add space between the articles */
    align-items: flex-start; /* Align articles to the start of the container */
    flex-wrap: wrap; /* Allow items to wrap onto the next line at a certain point */
    gap: 20px; /* Add gap between articles for better readability */
    padding: 20px; /* Padding around the content */
}

.blog-article {
    flex: 1; /* Allow each article to grow and fill the space */
    max-width: 50%; /* Maximum width of each article */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better appearance */
    padding: 20px; /* Padding inside each article */
    background-color: white; /* Background color for the article */
    margin-bottom: 20px; /* Space between rows when they wrap */
}
.blog-article p {
    font-family: 'Lato', sans-serif;
}

.blog-article h2 {
    margin-top: 0;
}

.show-content {
    display: block;
}
button {
    font-family: 'Poppins', sans-serif;
}

/* Ensure the articles stack on top of each other on smaller screens */
@media screen and (max-width: 768px) {
    .blog-article {
        max-width: 100%; /* Each article takes full width on small screens */
    }
}



/* Footer Styles */
.site-footer {
background-color: #333;
color: white;
padding: 20px 0;
font-size: 0.9em;
position: relative;
bottom: 0;
width: 100%;
}

.footer-content {
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: auto;
flex-wrap: wrap;
}

.footer-section h5 {
color: #fff;
margin-bottom: 15px;
}

.footer-section ul {
list-style: none;
}

.footer-section ul li a {
color: #ccc;
transition: color 0.3s ease;
}

.footer-section ul li a:hover {
color: #fff;
}

.footer-section form {
display: flex;
margin-top: 10px;
}

.footer-section input[type="email"] {
padding: 5px;
margin-right: 5px;
border: none;
border-radius: 5px;
}

.footer-section button {
background-color: #C8252C;
color: white;
cursor: pointer;
border: none;
border-radius: 5px;
padding: 5px 10px;
}

.social-icons {
margin-top: 10px;
}

.social-icons a {
color: #ccc;
margin-right: 10px;
}

.social-icons a:hover {
color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .header-top,
    .header-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}

/* Ensuring the footer is at the bottom */

.content {
    /* min-height: 100%; */
    flex: 1 ;
}

.site-footer {
flex-shrink: 0;
}